body {
  background: #343e59 !important;
  color: #777 !important;
  font-family: Montserrat, Arial, sans-serif !important;
}

.body-bg {
  background: #f3f4fa !important ;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600 !important;
}

.content-area {
  max-width: 1280px !important;
  margin: 0 auto !important;
}

.box {
  background-color: #2b2d3e !important;
  padding: 25px 20px !important;
}

.shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08) !important;
}
.sparkboxes .box {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  text-shadow: 0 1px 1px 1px #666 !important;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08) !important;
  position: relative !important;
  border-radius: 5px !important;
}

.sparkboxes .box .details {
  position: absolute !important;
  color: #fff !important;
  transform: scale(0.7) translate(-22px, 20px) !important;
}
.sparkboxes strong {
  position: relative !important;
  z-index: 3 !important;
  top: -8px !important;
  color: #fff !important;
}

.sparkboxes .box1 {
  background-image: linear-gradient(
    135deg,
    #abdcff 10%,
    #0396ff 100%
  ) !important;
}

.sparkboxes .box2 {
  background-image: linear-gradient(
    135deg,
    #2afadf 10%,
    #4c83ff 100%
  ) !important;
}

.sparkboxes .box3 {
  background-image: linear-gradient(
    135deg,
    #ffd3a5 10%,
    #fd6585 100%
  ) !important;
}

.sparkboxes .box4 {
  background-image: linear-gradient(
    135deg,
    #ee9ae5 10%,
    #5961f9 100%
  ) !important;
}

text,
.apexcharts-legend-text {
  color: rgb(204, 204, 204) !important ;
  fill: rgb(204, 204, 204) !important;
}

h4,
h5,
li {
  color: rgb(204, 204, 204) !important ;
  fill: rgb(204, 204, 204) !important;
}
